<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    <!-- Header -->
    <div id="header" class="d-flex align-items-center justify-content-around">
        <a href="/"><img id="logo" src="{{ url_for('static', filename='img/logo.PNG') }}"></a>
        <div id="right" class="d-flex align-items-center justify-content-end col2">
            <a href="/profile"><img id="profile" src="{{ url_for('static', filename='img/profile.png') }}" alt=""></a>
            {% if user.id %}
            <a id="nav" class="btn btn-light" href="/logout">Log Out</a>
            {% else %}
            <a id="nav" class="btn btn-light" href="/login">Log In</a>
            {% endif %}
        </div>
    </div>
    
    <div class="p-5">

        <!-- Title -->
        <div class="d-flex align-items-center ms-5 me-5 mb-5 border-bottom min-vw-75">
            <h1> {{user.first_name}}'s Dashboard</h1>
            <div class="d-flex align-items-center justify-content-end col2">
                <a class="btn btn-light m-2" href="/my_workouts/view">View All Your Workouts</a>
            </div>
        </div>

        <!-- Dashboard -->
        <dashboard class="d-flex justify-content-around">

            <!-- Side bar -->
            <side class="pe-3 border-end">
                <current class="d-flex align-items-center">
                    <h4>Current Weight: {{user.weight}} lbs</h4>
                </current>
                <goal class="d-flex">
                    <h4>Goal Weight: {{user.goal_weight}} lbs</h4>
                </goal>
                <a class="btn btn-secondary" href="/profile">Update</a>
            </side>

            <!-- Workout Schedule -->
            <div class="bg-light rounded">
                <h2 class="text-dark">My Workouts</h2>
                <ul class="list-group ps-3 pe-3">
                    <li class="list-group-item list-group-item-action ">
                    {% set vars = {'bool' : false} %}
                    {% for workout in my_workouts if workout.day == "monday" %}
                        <a class="text-decoration-none text-dark p-0 d-flex justify-content-between" href="/workouts/view/{{workout.id}}">
                            <h3>Monday</h3>
                            <h3>{{workout.name | capitalize}}</h3>    
                        </a>
                        {% if vars.update({'bool' : true}) %}{% endif %}
                    {% endfor %}
                    {% if not vars.bool %}
                        <h3>Monday</h3>
                    {% endif %}
                    </li>
                    <li class="list-group-item list-group-item-action">
                    {% if vars.update({'bool' : false}) %}{% endif %}
                    {% for workout in my_workouts if workout.day == "tuesday" %}
                        <a class="text-decoration-none text-dark p-0 d-flex justify-content-between" href="/workouts/view/{{workout.id}}">
                            <h3>Tuesday</h3>
                            <h3>{{workout.name | capitalize}}</h3>    
                        </a>
                        {% if vars.update({'bool' : true}) %}{% endif %}
                    {% endfor %}
                    {% if not vars.bool %}
                        <h3>Tuesday</h3>
                    {% endif %}
                    </li>
                    <li class="list-group-item list-group-item-action">
                    {% if vars.update({'bool' : false}) %}{% endif %}
                    {% for workout in my_workouts if workout.day == "wednesday" %}
                        <a class="text-decoration-none text-dark p-0 d-flex justify-content-between" href="/workouts/view/{{workout.id}}">
                            <h3>Wednesday</h3>
                            <h3>{{workout.name | capitalize}}</h3>    
                        </a>
                        {% if vars.update({'bool' : true}) %}{% endif %}
                    {% endfor %}
                    {% if not vars.bool %}
                        <h3>Wednesday</h3>
                    {% endif %}
                    </li>
                    <li class="list-group-item list-group-item-action">
                    {% if vars.update({'bool' : false}) %}{% endif %}
                    {% for workout in my_workouts if workout.day == "thursday" %}
                        <a class="text-decoration-none text-dark p-0 d-flex justify-content-between" href="/workouts/view/{{workout.id}}">
                            <h3>Thursday</h3>
                            <h3>{{workout.name | capitalize}}</h3>    
                        </a>
                        {% if vars.update({'bool' : true}) %}{% endif %}
                    {% endfor %}
                    {% if not vars.bool %}
                        <h3>Thursday</h3>
                    {% endif %}                
                    </li>
                    <li class="list-group-item list-group-item-action">
                    {% if vars.update({'bool' : false}) %}{% endif %}
                    {% for workout in my_workouts if workout.day == "friday" %}
                        <a class="text-decoration-none text-dark p-0 d-flex justify-content-between" href="/workouts/view/{{workout.id}}">
                            <h3>Friday</h3>
                            <h3>{{workout.name | capitalize}}</h3>    
                        </a>
                        {% if vars.update({'bool' : true}) %}{% endif %}
                    {% endfor %}
                    {% if not vars.bool %}
                        <h3>Friday</h3>
                    {% endif %}                   
                    </li>
                    <li class="list-group-item list-group-item-action">
                    {% if vars.update({'bool' : false}) %}{% endif %}
                    {% for workout in my_workouts if workout.day == "saturday" %}
                        <a class="text-decoration-none text-dark p-0 d-flex justify-content-between" href="/workouts/view/{{workout.id}}">
                            <h3>Saturday</h3>
                            <h3>{{workout.name | capitalize}}</h3>    
                        </a>
                        {% if vars.update({'bool' : true}) %}{% endif %}
                    {% endfor %}
                    {% if not vars.bool %}
                        <h3>Saturday</h3>
                    {% endif %}                 
                    </li>
                    <li class="list-group-item list-group-item-action">
                    {% if vars.update({'bool' : false}) %}{% endif %}
                    {% for workout in my_workouts if workout.day == "sunday" %}
                        <a class="text-decoration-none text-dark p-0 d-flex justify-content-between" href="/workouts/view/{{workout.id}}">
                            <h3>Sunday</h3>
                            <h3>{{workout.name | capitalize}}</h3>    
                        </a>
                        {% if vars.update({'bool' : true}) %}{% endif %}
                    {% endfor %}
                    {% if not vars.bool %}
                        <h3>Sunday</h3>
                    {% endif %}                   
                    </li>
                </ul>
                {% for message in get_flashed_messages(category_filter = ['name']) %}
                <p class="text-danger ps-3">*{{message}}</p>
                {% endfor %}
                {% for message in get_flashed_messages(category_filter = ['day']) %}
                <p class="text-danger ps-3">*{{message}}</p>
                {% endfor %}
                <a class="btn btn-dark m-2 col-6 ms-3" onclick="on('overlay')">Add Workout</a>
            </div>

            <!-- Public workouts -->
            <div class="bg-light rounded">
                <h2 class="text-dark">Public Workouts</h2>
                <section id="scroll" class="list-group ps-3 pe-3">
                    {% for workout in workouts %}
                        {% if workout.user_id == workout.author.id %}
                        <a href="/workouts/view/{{workout.id}}" class="list-group-item list-group-item-action d-flex justify-content-between"><h4>{{workout.name | capitalize}}</h4><h4>{{workout.author.first_name | capitalize}} {{workout.author.last_name | capitalize}}</h4></a>
                        {% endif %}
                    {% endfor %}
                </section>
                <a class="btn btn-dark m-2 col-6 ms-3" href="/workouts/view">View All</a>
            </div>
        </dashboard>
    </div>
    <!-- Add Workout Popup -->
    <div id="overlay" class="col justify-content-center">
        <form class="rounded border" action="/workouts/new" method="POST">
            <div class="d-flex justify-content-between">
                <h3 class="text-dark">Add Workout:</h3>
            </div>
            <label class="form-label mt-2"for="name">Name:</label>
            <input class="form-control" type="text" name="name" id="name">

            <label class ="pt-2 text-dark form-label">Schedule:</label>
            <select class="form-control" name="day" id="day">
                <option value="no_schedule">Not Scheduled</option>
                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
                <option value="saturday">Saturday</option>
                <option value="sunday">Sunday</option>
            </select>

            <input type="hidden" name="user_id" value="{{user.id}}">
            <input type="hidden" name="posted_by" value="{{user.id}}">

            <button class="btn btn-dark mt-2">Create</button>
            <a class="btn btn-secondary mt-2" onclick="off('overlay')">Cancel</a>
        </form>
    </div>

    <!-- links -->
    <div class="d-flex align-items-center bg-light border-top ps-30">
        <div id="links" class="d-flex flex-column justify-content-center bg-light">
            <h3>EverStrong, LLC</h3>
            <h5>a wersland company</h5>
            <h5>made by Karsten Wersland</h5>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</body>
</html>