<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{workout.name | capitalize}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>

    <!-- header -->
    <div id="header" class="d-flex align-items-center justify-content-around">
        <a href="/"><img id="logo" src="{{ url_for('static', filename='img/logo.PNG') }}"></a>
        <div id="right" class="d-flex align-items-center justify-content-end col2">
            <a href="/profile"><img id="profile" src="{{ url_for('static', filename='img/profile.png') }}" alt=""></a>
            {% if user.id %}
            <a id="nav" class="btn btn-light" href="/logout">Log Out</a>
            {% else %}
            <a id="nav" class="btn btn-light" href="/login">Log In</a>
            {% endif %}
        </div>
    </div>

    <!-- Show one workout -->
    <div class="d-flex flex-column justify-content-center p-3">
        <div class="d-flex">
            <h1 class="text-dark pe-3">{{workout.name | capitalize}}</h1>
            <a href="/dashboard" class="d-flex btn btn-light align-items-center ms-3">Home</a>
            <a href="/my_workouts/view" class="d-flex btn btn-secondary align-items-center ms-3">My Workouts</a>
        </div>
        <div class="d-flex">

            <!-- Workout Details -->
            {% if user.id == posted_by.id %}
            <div class="border-end p-5 col-4">
                <h4 class="pt-2 text-dark form-label">Scheduled for:</h4>
                {% if workout.day == "no_schedule" %}
                <h5>Not Scheduled</h5>
                {% else %}
                <h5>{{workout.day | capitalize}}</h5>
                {% endif %}
            </div>
            {% else %}
            <div class="border-end p-5 col-4">
                <h4 class="pt-2 text-dark form-label">Scheduled for:</h4>
                {% if workout.day == "no_schedule" %}
                <h5>Not Scheduled</h5>
                {% else %}
                <h5>{{workout.day | capitalize}}</h5>
                {% endif %}
            </div>
            <div class="border-end p-5 col-4">
                <h4 class="pt-2 text-dark form-label">Posted By:</h4>
                <h5>{{posted_by.first_name | capitalize}} {{posted_by.last_name | capitalize}}</h5>
            </div>
            {% endif %}

            <!-- Add/View Exercises -->
            <div class="p-5 col-4">
                <h4>Exercises:</h4>
                <ul id="scroll_exercises" class="list-group">
                    {% for exercise in exercises %}
                    <li id="exercise_size" class="d-flex justify-content-between list-group-item form-check form-switch">
                        {% if not exercise.description %}
                        <h4>{{exercise.name | capitalize}}</h4>
                        {% else %}
                        <div>
                            <h4>{{exercise.name | capitalize}}</h4>
                            <h5>{{exercise.description | capitalize}}</h5>
                        </div>
                        {% endif %}
                            <div class="text-end d-flex align-items-center">
                                <h5>{{exercise.sets}} sets of {{exercise.reps}}</h5>
                                {% if posted_by.id == user.id %}
                                <a class="btn btn-light text-dark no_padding" href="/exercises/delete/{{exercise.workout}}/{{exercise.id}}">delete</a>
                                {% endif %}
                            </div>
                    </li>
                    {% endfor %}
                </ul>
                {% if user.id == workout.user_id %}
                <a class="btn btn-secondary mt-2 me-2" onclick="on('overlay')">Add Exercise</a>
                {% endif %}
            </div>
        </div>
        {% if user.id == workout.user_id %}
        <a class="btn btn-dark mt-2 me-2 col-3" onclick="on('schedule')">Update Schedule</a>
        {% else %}
        <a class="btn btn-dark mt-2 me-2 col-3" href="/workouts/add_schedule/{{workout.id}}">Add to Your Schedule</a>
        {% endif %}
    </div>

    <!-- Add Exercise Popup -->
    <div id="overlay" class="col justify-content-center">
        <form class="rounded border" action="/exercise/new" method="POST">
            <div class="d-flex justify-content-between">
                <h3 class="text-dark">Add Exercise:</h3>
            </div>
            <label class="form-label mt-2"for="name">Name:</label>
            <input class="form-control" type="text" name="name" id="name"> 
            <label  class="form-label mt-2" for="description">Description: *not required</label>
            <textarea class="form-control" name="description" id="description" cols="30" rows="5"></textarea>
            <label class="form-label" for="muscle">Muscle Group:</label>
            <select class="form-control" name="muscle" id="muscle" onclick="getMuscles()">
            </select>
            <div class="d-flex">
                <label class="mt-2 form-label" for="sets">Sets:</label>
                <input class="mt-2 form-control" type="number" name="sets" id="sets">
                <label class="mt-2 form-label" for="reps">Reps:</label>
                <input class="mt-2 form-control" type="number" name="reps" id="reps">
            </div>
            <input type="hidden" name="workout_id" id="workout_id" value="{{workout.id}}">
            <button class="btn btn-dark mt-2">Add</button>
            <a class="btn btn-secondary mt-2" onclick="off('overlay')">Cancel</a>
        </form>
    </div>

    <!-- change schedule popup -->
    <div id="schedule" class="col justify-content-center">
        <form class="rounded border" action="/workouts/schedule/{{workout.id}}" method="POST">
            <div class="d-flex justify-content-between">
                <h3 class="text-dark">Schedule Workout:</h3>
            </div>
            <h4 class ="pt-2 text-dark">Current Schedule: {{workout.day | capitalize}}</h4>
            <select class="form-control" name="day" id="day" value="{{workout.day}}">
                <option value="no_schedule">Not Scheduled</option>
                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
                <option value="saturday">Saturday</option>
                <option value="sunday">Sunday</option>
            </select>

            <input type="hidden" name="name" value="{{workout.name}}">
            <input type="hidden" name="user_id" value="{{user.id}}">

            <button class="btn btn-dark mt-2">Schedule</button>
            <a class="btn btn-secondary mt-2" onclick="off('schedule')">Cancel</a>
        </form>
    </div>

    <!-- links -->
    <div id="bottom" class="d-flex align-items-center bg-light border-top">
        <div id="links" class="d-flex flex-column justify-content-center bg-light">
            <h3>EverStrong, LLC</h3>
            <h5>a wersland company</h5>
            <h5>made by Karsten Wersland</h5>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</body>
</html>